body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(../images/bg.jpg);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
*/
.main{
    width: 100%;
    
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-head{
    padding: 30px;
    width: 100%;
}
.form{
    width: 500px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 65px 55px 54px 55px;
    text-align: center;
}
.log{
    font-size: 39px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding-bottom: 49px;
    display: block;
}
.user {
    width: 100%;
    margin-bottom: 23px;
    border-bottom: 2px solid #d9d9d9;
    text-align: left;
    position: relative;
}
span[class="user-info"] {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.5;
    padding-left: 7px;
}
input[type="text"] {
    font-family: 'Poppins';
    border: none;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    height: 55px;
    background: none;
    padding: 0 7px 0 43px;
}
.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.user-icon {
    position: absolute;
    left: 0;
    top: 40px;
    font-size: 22px !important;
    display: block;
    color: #adadad;
    padding-left: 13px;
}
input:focus{
outline: none;
}
input[type="password"] {
    font-family: 'Poppins';
    font-weight: normal;
    border: none;
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: none;
    padding: 0 7px 0 43px;
}
.for{
    text-align: right !important;
    padding-top: 8px;
    padding-bottom: 31px;
}
.forgot {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.7;
    color: #666;
}
.button-cont {
    width: 100%;
    display: block;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0 rgba(3, 216, 222, .2);
    background-color: rgb(166, 75, 244);
    background-image: linear-gradient(45deg, rgb(0, 219, 222), rgb(252, 0, 255));
}
button {
    font-family: 'Poppins';
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
}
.text-line {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    padding-bottom: 20px;
    padding-top: 54px;
}
.icon-imgs {
    width: 50%;
    margin: auto;
    overflow: auto;
}
.fb {
    background-color: #3b5998;
}
.icon-com {
    font-size: 25px;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    text-decoration: none;
    float: left;
    padding: 13px;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.tw {
    background-color: #1da1f2;
}
.you {
    background-color: #ea4335;
}
.text-lineup {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    padding-top: 155px;
    padding-bottom: 17px;
}
.signup {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    
}
